{% extends "frontend/base.html" %}
{% block b1 %}
<h3>Archive Images</h3>
<div class="text-right">
  <a class="btn btn-dark btn-lg mb-3 mr-2" href="/archive/list">Archive 리스트</a>
  <a class="btn btn-dark btn-lg mb-3" href="/archive/detail/{{archive_id}}">Archive 수정</a>
</div>
<div class="float-right">
  <a class="btn btn-dark btn-lg" href="/archive/image_create/{{archive_id}}">Image Card 생성</a>
</div>
{% endblock %}
{% block b2 %}

<div class="mx-5 row row-cols-4" id="image-list">
</div>

<script>
  var list = document.getElementById("image-list")

  getImageList()

  function getImageList(){
    const url = "/api/archive/image_list/{{archive_id}}/"
    fetch(url, {
      method: 'get',
      headers: {
        'Content-type':'application/json'
      }
    })
    .then((resp) => resp.json())
    .then((data) => {
      console.log('data: ', data)

      for (var index in data) {
        var id = data[index]['id']
        var name = data[index]['name']
        var info = data[index]['info']
        var image = data[index]['image']

        var card = `
          <div class="col">
            <div class="card h-100">
              <img src=${image} height=200>
              <div class="card-body text-dark">
                <h5 class="card-title"><a href="/archive/image_detail/${id}">${name}</a></h5>
                <p class="card-text">${info}</p>
              </div>
            </div>
          </div>
        `
        list.innerHTML += card
        }
    })
    .catch(error => console.log(error))
  }
</script>
{% endblock %}
