.form-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  margin-left: 150px;
  margin-right: 150px;
}

.button-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
}
