{% extends "frontend/base.html" %}
{% block b1 %}
<h3>로그인 페이지</h3>
<div class="form-wrapper">
  <form id="form" class="mt-5">
    <input id="email" class="form-control mb-4" type="text" placeholder="email" autocomplete="off">
    <input id="password" class="form-control mb-4" type="password"placeholder="password">
  </form>
  <button id="login" class="btn btn-dark btn-lg">로그인</button>
</div>

<script>
  var csrftoken = getCookie('csrftoken');
  var email = document.getElementById('email').value
  var password = document.getElementById('password').value

  var login_button = document.getElementById('login')
  login_button.addEventListener('click', login)

  function login(){
    var url = "/api/user/login"
    fetch(url, {
      method: 'post',
      headers: {
        'Content-type': 'application/json',
        'X-CSRFToken': csrftoken
      },
      body: JSON.stringify({
        'email': email,
        'password': password
      }),
    })
    .then((resp) => {
      console.log(resp)
      window.location.href='/'
    })
    .catch(error => console.log(error))
  }
</script>
{% endblock %}
