<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <h1>AJAX Example</h1>
    <div id="archive-container"></div>
    <button id='deleteBtn'>Delete</button>

    <script>

    getList()

    function getList() {
      var container = document.getElementById('archive-container')

      fetch('/api/archives')
      .then(resp => resp.json())
      .then(data => {
        console.log('Data: ', data)

        for (archive of data) {
          container.append(archive.name)
        }
      })
    }

    </script>
</body>

</html>
