{% extends "frontend/base.html" %}
{% block b1 %}
<h3>회원 가입 페이지</h3>
<div id="form-wrapper">
  <form id="form" class="mt-5">
        <input id="email" class="form-control mb-4" type="text" placeholder="email" autocomplete="off">
        <input id="password" class="form-control mb-4" type="password"  placeholder="password" autocomplete="off">
        <input id="name" class="form-control mb-4" type="text" placeholder="name" autocomplete="off">
        <input id="address" class="form-control mb-4" type="text" placeholder="address" autocomplete="off">
  </form>
  <button id="submit" class="btn btn-dark">회원가입</button>
</div>

<script>
  var csrftoken = getCookie('csrftoken');

  function register(){
    var email = document.getElementById('email').value
    var password = document.getElementById('password').value
    var name = document.getElementById('name').value
    var address = document.getElementById('address').value

    fetch('/api/user/register', {
      method: 'post',
      headers: {
        'Content-type':'application/json',
        'X-CSRFToken': csrftoken
      },
      body: JSON.stringify({
        'email': email,
        'password': password,
        'name': name,
        'address': address
      })
    })
    .then((resp) => {
      console.log(resp)
      window.location.href='/login'
    })
    .catch(error => console.log(error))
  }

  var submitBtn = document.getElementById('submit')
  submitBtn.addEventListener('click', register)
</script>
{% endblock %}
